@import 'vendor/flatpickr';
@import 'variables';

a {
    @apply .text-blue-500;
    @apply .transition;
    @apply .duration-150;
    @apply .ease-in-out;

    &:hover {
        @apply .text-blue-600;
    }

    &:focus {
        @apply .text-blue-600;
    }
}

.btn {
    @apply .inline-block;
    @apply .whitespace-no-wrap;
    @apply .items-center;
    @apply .px-4;
    @apply .py-0;
    @apply .leading-10;
    @apply .border;
    @apply .border-transparent;
    @apply .text-sm;
    @apply .font-medium;
    @apply .rounded-lg;
    @apply .transition;
    @apply .duration-150;
    @apply .ease-in-out;
    @apply .outline-none;
    @apply .shadow;

    &:hover {
        @apply .outline-none;
    }

    &:focus {
        @apply .outline-none;
        @apply .shadow-outline;
    }
}

.btn-primary {
    @apply .text-white;
    @apply .bg-blue-500;

    &:hover {
        @apply .bg-blue-600;
        @apply .text-white;
    }

    &:focus {
        @apply .bg-blue-600;
        @apply .text-white;
    }
}

.btn-danger {
    @apply .text-white;
    @apply .bg-red-500;

    &:hover {
        @apply .bg-red-600;
        @apply .text-white;
    }

    &:focus {
        @apply .bg-red-600;
        @apply .text-white;
    }
}

.btn-secondary {
    @apply .text-gray-800;
    @apply .bg-white;
    @apply .shadow;

    &:hover {
        @apply .text-gray-600;
        @apply .bg-white;
    }

    &:focus {
        @apply .text-gray-600;
        @apply .bg-white;
    }
}

label {
    @apply .cursor-pointer;
}

.form-input {
    @apply .transition;
    @apply .duration-150;
    @apply .ease-in-out;
}

.form-radio,
.form-checkbox {
    @apply .text-blue-500;
    @apply .cursor-pointer;
}

.bg-gradient {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(239,247,247,1) 100%);
}

.bg-auth {
    background-image: url('/img/bg-pattern.svg'), -moz-linear-gradient(to right, rgba(247,250,252,1) 0%, rgba(255,255,255,1) 100%);
    background-image: url('/img/bg-pattern.svg'), -webkit-linear-gradient(to right, rgba(247,250,252,1) 0%, rgba(255,255,255,1) 100%);
    background-image: url('/img/bg-pattern.svg'), linear-gradient(to right, rgba(247,250,252,1) 0%, rgba(255,255,255,1) 100%);
}
