.bg-gradient {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(239,247,247,1) 100%);
}

.bg-pattern {
    background-image: url('/img/bg-pattern.svg'), -moz-linear-gradient(to right, rgba(237,242,247,1) 0%, rgba(255,255,255,1) 100%);
    background-image: url('/img/bg-pattern.svg'), -webkit-linear-gradient(to right, rgba(237,242,247,1) 0%, rgba(255,255,255,1) 100%);
    background-image: url('/img/bg-pattern.svg'), linear-gradient(to right, rgba(237,242,247,1) 0%, rgba(255,255,255,1) 100%);
}

